<h6>
    Government od Nepal<br>
    Ministry of Federal Affairs and Local Development<br>
    <B>Office of local Registar</B>
    {{data.city}} village/city  <br>
    {{data.district}},District
</h6>
<h2>Birth Registration Certificate</h2>

 This is to certify,as per the birth register maintained at this office and the information provided by Mr. Manish HImalaya in the information from of
 schedule 2,that Mr/Mrs {{data.fname}} Son/Daughter of Mr. {{data.fathername}}
 and Mrs.{{data.mothername}},was born on {{data.birthday}}.

