<h5>
    Government od Nepal<br>
    Ministry of Federal Affairs and Local Development<br>
    <B>Office of local Registar</B><br>
    {{data.city}} village/city  <br>
    {{data.district}},District
</h5>
<h2>Birth Registration Certificate</h2>

 This is to certify,as per the birth register maintained at this office and the information provided by Mr. <h2> Manish HImalaya</h2> in the information from of
 schedule 2,that Mr/Mrs<b> {{data.fname}} {{data.mname}} {{data.lname}} </b>Son/Daughter of Mr. <b>{{data.fathername}}</b>
 and Mrs. <b>{{data.mothername}}</b>,was born on <b>{{data.birthday}}</b>.

